body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    min-width: 800px;
    background: linear-gradient(0deg, #1b2c55,#3d85a9,#63cac8,#b8edff);
}

h1, h2 {
    text-align: center;
}

li {
    padding-top: 10px;
}

.photo.cv {
    width: 100px;
    float: right;
    padding: 0;
}
div {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    padding: 10px;
}

.contact {
    border: 5px solid #ddd;
    border-radius: 10px;
    width: 95%;
    margin: auto;
}

.input-box .field {
    height: 20px;
    width: 95%;
    border-radius: 6px;
    border: 2px solid #ddd;

}

.input-box .field.mes {
    height: 100px;
    resize: none;
}

form button {
    width: 90%;
    height: 25px;
    margin: 15px;
    border-radius: 6px;
    cursor: pointer;
}

